body {
    background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url(UFO_pic_1.png);
    background-size: 100% 100%;
    background-attachment: fixed;
}
.head_title{
    color:rgb(18, 91, 228);
    font-style: oblique;
    font-family: cursive ;
    text-shadow: rgb(8, 1, 68);
}
table, th, td {
    border: 1px solid burlywood;
    text-align: center;
    border-spacing: 10px;
}
.style{
    color:rgb(18, 91, 228);
    font-style: oblique;
    /* text-shadow:rgb(149, 148, 160); */
}
